/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
.is-hidden {
  display: none;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  padding: 20px;
}

.form {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 20px;
}

.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 16px;
}

.gallery-item {
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #000000;
  background-color: #fff;
}

.gallery-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.gallery-info {
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
  font-size: 12px;
}

.gallery-info-item span {
  font-weight: 600;
}

.loader .is-hidden {
  display: none;
}
